In [16]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind

In [ ]:
df = pd.read_csv("Data Clean.csv", delimiter=";")
# df.info()
# len(df)

229835

In [18]:
column_mapping = {'B1R1': 'province',
 'B4K7': 'gender',
 'B4K10THN': 'age',
 'B4K11': 'education',
 'B4K12': 'work_status',
 'B10E01':'injured_past_year',
 'B10E02A':'head_injury',
 'B10E02B':'chest_injury',
 'B10E02C':'back_injury',
 'B10E02D':'stomach_injury',
 'B10E02E':'upper_body_injury',
 'B10E02F':'lower_body_injury',
 'B10E03A':'bruises',
 'B10E03B':'cuts',
 'B10E03C':'sprains',
 'B10E03D':'broken_bones',
 'B10E03E':'severed_limbs',
 'B10E03F':'eye_injury',
 'B10E03G':'brain_damage',
 'B10E03H':'internal_damage',
 'B10E03I':'burns',
 'B10E03J':'other',
 'B10E04A':'impaired',
 'B10E04B':'missing_body_parts',
 'B10E04C':'permanent_injury',
 'B10E05':'place_of_injury',
 'gme':'emotional_mental_health_disorder',
 "Bobot_Normal": "weight_normal"
}

df.rename(columns=column_mapping, inplace=True)

In [19]:
df.head()

,idart,idrt,weight_final,PSU,STRATA,province,gender,age,education,work_status,...,burns,other,impaired,missing_body_parts,permanent_injury,place_of_injury,emotional_mental_health_disorder,weight_normal,filter_$,time
0,303269,81939,"21,6834964752197",8620,301,31,1,52,3,7,...,0,0,0,0,0,0,1,",0448737734914915",1,1
1,303272,81939,"21,6834964752197",8620,301,31,2,24,5,1,...,0,0,0,0,0,0,1,",0448737734914915",1,1
2,303274,81939,"21,6834964752197",8620,301,31,2,17,3,1,...,0,0,0,0,0,0,1,",0448737734914915",1,1
3,303275,81940,"7,12305355072021",8620,301,31,1,32,4,5,...,0,0,0,0,0,0,0,",0147410862435434",1,1
4,303282,81942,"27,1446380615234",8620,301,31,1,58,3,7,...,0,0,0,0,0,0,0,",056175549975225",1,1

In [20]:
injury_columns = [
    "head_injury", "chest_injury", "back_injury", "stomach_injury",
    "upper_body_injury", "lower_body_injury", "bruises", "cuts", "sprains", "broken_bones",
    "severed_limbs", "eye_injury", "brain_damage", "internal_damage", "burns", "other",
    "impaired", "missing_body_parts", "permanent_injury"
]

df["has_injury"] = df[injury_columns].sum(axis=1) > 0 
df["has_injury"] = df["has_injury"].astype(int)  


group1 = df[df["has_injury"] == 1]["emotional_mental_health_disorder"]
group2 = df[df["has_injury"] == 0]["emotional_mental_health_disorder"]

t_stat, p_value = ttest_ind(group1, group2, equal_var=False)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

if p_value < 0.05:
    print("Significant difference: Injuries are associated with mental health disorders.")
else:
    print("No significant difference: Injuries do not significantly affect mental health disorders.")

T-statistic: 38.146225644538134
P-value: 4.0156433788480534e-308
Significant difference: Injuries are associated with mental health disorders.

In [21]:
df

,idart,idrt,weight_final,PSU,STRATA,province,gender,age,education,work_status,...,other,impaired,missing_body_parts,permanent_injury,place_of_injury,emotional_mental_health_disorder,weight_normal,filter_$,time,has_injury
0,303269,81939,"21,6834964752197",8620,301,31,1,52,3,7,...,0,0,0,0,0,1,",0448737734914915",1,1,0
1,303272,81939,"21,6834964752197",8620,301,31,2,24,5,1,...,0,0,0,0,0,1,",0448737734914915",1,1,0
2,303274,81939,"21,6834964752197",8620,301,31,2,17,3,1,...,0,0,0,0,0,1,",0448737734914915",1,1,0
3,303275,81940,"7,12305355072021",8620,301,31,1,32,4,5,...,0,0,0,0,0,0,",0147410862435434",1,1,0
4,303282,81942,"27,1446380615234",8620,301,31,1,58,3,7,...,0,0,0,0,0,0,",056175549975225",1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229830,615970,174908,"955,77783203125",18333,511,36,1,23,4,4,...,2,2,2,2,1,0,"1,97797241749151",1,1,1
229831,615971,174908,"955,77783203125",18333,511,36,1,17,3,2,...,2,2,2,2,1,1,"1,97797241749151",1,1,1
229832,616001,174917,"989,662353515625",18333,511,36,2,65,4,8,...,2,2,2,2,2,0,"2,04809608706183",1,1,1
229833,616011,174920,"100,328125",18334,511,36,2,39,6,4,...,2,2,2,2,2,0,",207628025361183",1,1,1
229834,616014,174920,"100,328125",18334,511,36,1,66,7,1,...,2,2,2,2,2,0,",207628025361183",1,1,1

In [22]:
df.to_csv("CleanedColumn.csv", index=False)